<head>
  <meta charset="UTF-8">
  <title>RSS Aggregator for Indie Edtech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="https://indieedtech.github.io/rss-aggregator/stylesheets/normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://indieedtech.github.io/rss-aggregator/stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://indieedtech.github.io/rss-aggregator/stylesheets/github-light.css" media="screen">

  <script src="https://indieedtech.github.io/rss-aggregator/js/jquery-latest.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://indieedtech.github.io/rss-aggregator/js/github.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://indieedtech.github.io/rss-aggregator/js/utility.js" type="text/javascript" charset="utf-8"></script>

</head>
